body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#headb {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

#logos{
    width: 150px;
    height: auto;
    margin-right: auto;
    margin-left: 40px;
    z-index: 1;
}

#search-bars {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    margin-right: 20px;
}

#search-bars input {
    border: none;
    background: transparent;
    color: white;
    font-size: 14px;
    margin-right: 10px;
}

#search-bars button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#navbars {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 30px; 
    width: 100%;
    z-index: 999;
}


#navbars ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#navbars li {
    padding: 20px;
}

#navbars a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    transition: color 0.3s, transform 0.3s;
}

#navbars a:hover {
    color: gray;
}

#sidebars-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999; 
    cursor: pointer;
    color: white;
    font-size: 24px;
    display: none; 
    }
   
    #sidebars-icon:hover {
    color: gray;
    }

   #headingbuy {
    margin-top: 170px;
    margin-left: 40px;
    margin-bottom: 0px;
    opacity: 0;
    animation: fadeInUp 3s ease forwards;

   }

#sidebars {
    position: absolute; 
    top: 120px; 
    right: 0;
    width: 220px; 
    height: 2500px;
    background-color: white; 
    overflow-y: auto; 
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    font-size: 12px;
}



@keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .sidebar-ani {
    opacity: 0;
    animation: slideInRight 3s ease forwards;
  }
  

.container {
    max-width: 800px;
    margin: 60px auto; 
    padding: 20px;
    margin-left: 20px;
    height: auto;
}

.property-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.property-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.property-card-content {
    padding: 20px;
}

.property-card h2 {
    margin-top: 0;
}

.property-card p {
    margin: 10px 0;
    color: #555;
}

.property-card .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.property-card .btn:hover {
    background-color: #0056b3;
}

.container,
.property-card {
    opacity: 0;
    animation: fadeInUp 3s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    margin-top: auto;
    z-index: 10;
}

.footer-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logos img {
    width: 250px;
    height: auto; 
    margin-left: 70px;
    margin-right: 60px;
    margin-top: 10px;
}

.about-us,
.menu,
.contact,
.social-links {
    margin-top: 50px;
    flex: 1 1 100px; 
    margin-right: 50px; 
    font-size: 13px;
}

.menu ul {
    list-style: none;
    color: white;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;

}
.menu ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 13px;
}

.social-links ul {
    list-style: none;
    padding: 0;
   
}

.social-links ul li {
    display: inline-block;
    margin-right: 10px;
}

.social-links ul li:last-child {
    margin-right: 0;
}

.social-links ul li a {
    color: white; 
    text-decoration: none;
}

.menu ul li a:hover {
    color: gray; 
}

.social-links ul li.facebook a:hover {
    color: #007bff; 
}

.social-links ul li.instagram a:hover {
    color: orange;
}


/* @media only screen and (max-width: 768px) {

    #sidebar-icon {
        display: flex; 
        }
       
        #navbar {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); 
        transform: translateX(100%); 
        }
       
        #navbar a {
            font-size: 15px;
        }
       
        #navbar.show {
        transform: translateX(0); 
        }

    #search-bar {
        margin-right: 10px; 
    }

    #sidebar {
        width: 20%; 
        top: 120px; 
        max-height: calc(100vh - 120px); 
        padding: 10px; 
    }


    .container {
        max-width: 60%; 
        margin: 50px 10px 20px 10px; 
    }

    .property-card {
        margin-bottom: 10px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        height: 1000px;
    }

    .logo img {
        margin: 20px auto;
    }

    .about-us,
    .menu,
    .contact,
    .social-links {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .social-links {
        margin-bottom: 20px; 
    }

    .footer-container div {
        margin-right: 0;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #search-bar {
        margin-right: 10px; 
    }

    #sidebar {
        width: 20%; 
        top: 120px; 
        max-height: calc(100vh - 120px); 
        padding: 10px; 
    }


    .container {
        max-width: 70%; 
        margin: 80px 10px 20px 10px; 
    }

    .property-card {
        margin-bottom: 10px;
    }


    .footer-container {
        flex-direction: column; 
        align-items: center;
        height: 800px; 
    }
    
    .about-us,
    .menu,
    .contact,
    .social-links {
        width: 100%;
        text-align: center; 
        margin-top: 0; 
        margin-right: 30px; 
    }

    .social-links {
        margin-bottom: 0; 
    }

    .footer-container div {
        margin-right: 0; 
    }
}

@media screen and (min-width: 1025px) and (max-width: 2560px) {
    #search-bar {
        margin-right: 10px; 
    }

    #sidebar {
        width: 20%; 
        top: 120px; 
        max-height: calc(100vh - 120px); 
        padding: 10px; 
    }


    .container {
        max-width: 60%; 
        margin: 80px 10px 20px 10px; 
    }

    .property-card {
        margin-bottom: 10px;
    }
  } */
  

   /* .buy-container {
    text-align: center;
    margin-top: 50px;
}

.buy-container h1 {
    font-size: 24px;
    font-weight: bold;
}

.buy-container p {
    font-size: 18px;
    margin-top: 10px;
}

.buy-container a {
    display: block;
    margin-top: 20px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
} */
